.group-child50 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-24xl);
  background-color: var(--color-gray-500);
  backdrop-filter: blur(118.7px);
  border: 2px solid var(--color-mediumpurple-200);
  box-sizing: border-box;
  width: 1128px;
  height: 761px;
}
.election-name9 {
  position: absolute;
  top: 32px;
  left: 340px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  background: linear-gradient(90deg, #209eb7, #927be3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 437px;
  height: 53px;
}
.politician-indian-high-qu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 194px;
  height: 194px;
  object-fit: cover;
}
.bjd1,
.shaveen-deo1 {
  margin: 0;
}
.bjd1 {
  color: var(--color-mediumpurple-100);
}
.shaveen-deo-bjd-container1 {
  position: absolute;
  top: 216px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 194px;
  height: 23px;
}
.politician-indian-high-qu-container,
.politician-indian-high-quali-group {
  position: absolute;
  top: 98px;
  left: 855px;
  width: 194px;
  height: 239px;
}
.politician-indian-high-quali-group {
  left: 596px;
}
.consti-12,
.politician-indian-different-re-group,
.politician-indian-female-hig-group {
  position: absolute;
  top: 98px;
  left: 337px;
  width: 194px;
  height: 239px;
}
.consti-12,
.politician-indian-female-hig-group {
  left: 78px;
}
.consti-12 {
  top: 9.4px;
  left: 9.3px;
  display: inline-block;
  width: 100.2px;
  height: 20.2px;
}
.group-child51 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl);
  border: 1px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 167px;
  height: 42.7px;
}
.vector-icon6 {
  position: absolute;
  height: 12.65%;
  width: 6.05%;
  top: 45.67%;
  right: 10.72%;
  bottom: 41.69%;
  left: 83.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.consti-1-container {
  position: absolute;
  top: 27.1px;
  left: 754px;
  width: 167px;
  height: 42.7px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.politician-indian-high-quali3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 194px;
  height: 194px;
  object-fit: contain;
}
.politician-indian-female-hig-container,
.politician-indian-high-quali-container {
  position: absolute;
  top: 0;
  left: 777px;
  width: 194px;
  height: 239px;
}
.politician-indian-female-hig-container {
  left: 518px;
}
.edit,
.politician-indian-different-re-container,
.politician-indian-high-qu-parent1 {
  position: absolute;
  top: 0;
  left: 259px;
  width: 194px;
  height: 239px;
}
.edit,
.politician-indian-high-qu-parent1 {
  left: 0;
}
.edit {
  top: 267px;
  left: 952px;
  font-size: var(--font-size-base);
  background: linear-gradient(90deg, #a578d9, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 100.2px;
  height: 20.2px;
}
.group-parent15 {
  position: absolute;
  top: 424px;
  left: 77px;
  width: 1052.2px;
  height: 287.2px;
}
.rectangle-parent19 {
  position: absolute;
  top: 20px;
  left: 200px;
  width: 1129.2px;
  height: 761px;
  cursor: pointer;
}
.group-root {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue-100);
  font-family: var(--font-montserrat);
}
