@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition-property: all;
	transition-duration: 300ms;
}

body {
	border-radius: 10px;
	margin: 0;
	font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
	background-color: #131234;
	color: aliceblue;
}

@layer utilities {
	.center {
		@apply flex flex-col justify-center items-center;
	}
	.centered-axis-xy {
		@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}
	.centered-axis-x {
		@apply absolute left-1/2 -translate-x-1/2;
	}
	.centered-axis-y {
		@apply absolute top-1/2 -translate-y-1/2;
	}
	.searchBox {
		@apply placeholder:!text-[#252525] dark:placeholder:!text-[#A6A6A6];
	}
	.glass {
		@apply bg-transparent   shadow-[inset_0_0_300px_rgba(220,220,220,0.2)] backdrop-blur-lg;
	}
	.navbar {
		@apply w-[100%] absolute  glass rounded-b-2xl z-50 !bg-transparent;
	}
	.nav-active::before {
		@apply absolute content-[''] -bottom-2 w-[130%] -left-[15%] h-[2px]  bg-accent-dark inline-block  rounded-full;
	}

	.shadow-div {
		@apply absolute content-['']  left-0 right-0 bottom-0 bg-gradient-to-t from-black/30 to-transparent rounded-2xl;
	}
	.shadow-light {
		@apply !from-accent-light rounded-2xl;
	}
	.gradient-text {
		@apply bg-gradient-to-r from-accent-blue to-accent-purple text-transparent bg-clip-text;
	}
}
